langchain-community==0.3.18
langchain-core==0.3.43
langchain-mongodb==0.5.0
numpy==1.26.4
openai==1.65.5
pymongo==4.11.2
sentence-transformers==3.4.1
streamlit==1.43.2
google-generativeai==0.8.4
python-dotenv
google-genai==1.2.0
datasets==3.3.2
ragas==0.2.13
langchain-openai==0.3.8
easyocr==1.7.2
pdf2image==1.17.0
faiss-cpu